<div class="header-content">
  <header>
    <div class="logo">
      <a href="#">MagazineBox</a>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="#home" onclick="selection()">Home</a></li>
        <li><a href="#gallery" onclick="selection()">Gallery</a></li>
        <li><a href="#products" onclick="selection()">Products</a></li>
        <li><a href="#contact" onclick="selection()">Contact</a></li>
      </ul>
    </nav>
    <div class="nav-responsive" onclick="hideMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
</div>
